.header{
    display: flex;
    justify-content: space-between;
    border: 1px solid #952511;
    color: #952511;
    font-weight: bolder;
}

.logo{
    width: 90px;
    padding: 10px;
}

.nav-items>ul{
   display: flex;
   list-style-type: none;
   margin-right: 50px;
}

.nav-items>ul>li{
    padding: 10px;
    margin: 10px;
}
.body{
    padding: 10px;
}

.res-card{
    background-color: #f9ae3da8;
    width: 230px;
    height:320px;
    margin: 10px;
    padding: 8px;
    line-height: .9rem;
    border-radius: 5%;
    font-size: 0.8rem;
}

.res-card:hover{
    box-shadow: rgba(0, 0, 0, 0.35) 2px 5px 15px;
}
.resto-container{
    display: flex;
    flex-wrap: wrap;
}
.res-img{
    width: 100%;
    height:150px;
    border-radius: 8%;
}

.search{
    padding: 10px;
}

.app{
    background-color: #fdcb9fe6;
}

#main{
    background-color: #3d0c03;
}

.shimmer-container{
    display: flex;
    flex-wrap: wrap;
}

.shimmer-card{
    width: 230px;
    height:320px;
    margin: 10px;
    padding: 10px;
    line-height: .9rem;
    border-radius: 5%;
    background-color: #cca0a085;
}

.filter{
    width:850px;
    height: 60px;
}